#root .control {
    width: 380px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 28px;
    border: 2px solid #000aff;
    box-shadow: none;
    background: #fff;
    padding: 0 17px 0 20px;

    outline: none;

    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#root .indicatorSeparator {
    display: none;
}

#root .valueContainer {
    outline: none;
    padding: 0;
    border: none;
}

#root .indicatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    svg path {
        width: 100%;
        height: 100%;
        fill: #000aff;
    }
}

#root .menu {
    border-radius: 28px;
    border: 2px solid #000aff;
    box-shadow: none;
    background: #fff;
    margin-top: -1px;
}

#root .option {
    border-radius: 50px;
    background-color: white;
    max-width: 90%;
    margin-left: 5px;

    color: #000;
    font-family: "Manrope", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#root .option:hover {
    background-color: white;
    color: #000aff;
}

#root .option.selected {
    background-color: white;
    color: #000aff;
}
